* {
    box-sizing: border-box;
}

body {
    background-image: url("Images/HD-Draven-Backgrounds.png");
    text-align: center;
}

#win-screen {
    font-size: 30px;
    background-color: rgba(204, 204, 204, 0.5);
    border: 2px solid #555555;
    width: 300px;
    margin-left: auto;
    margin-right: auto;


}
#timer {
    font-size: 30px;
    text-decoration: underline;
}

h1{
    font-size: 75px;
    text-shadow: 2px 2px yellow;
}

#start {
    display:inline-block;
    padding: 14px 40px;
    background-color: royalblue;
    font-size: 30px;
    color: azure;
    text-shadow: 2px 2px black;
    border: 2px solid #555555;

}

#questions {
    display: inline-block;
    background-color: rgba(204, 204, 204, 0.5);
    font-size: 20px;
    border: 2px solid #555555;
}
